.toolbar {
    position: absolute;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: black;
    width: 700px;
    border: 4px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.button {
    padding: 8px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 4px;
}

.button:hover {
    cursor: pointer;
    color: #526EFF;
    background-color: #e7ebfb;
    border-radius: 4px;
}